# Base
NODE_ENV=development
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme
DATABASE_URL=mysql://user:password@localhost:3306/promptverse

# OAuth (optional)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_ID=
GITHUB_SECRET=

# Admin seed
ADMIN_EMAIL=thony@example.com
ADMIN_USERNAME=Thony
ADMIN_PASSWORD=@Adrian[22]
